# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Environment and secrets
.env
.env.*

# Git and editor files
.git/
.gitignore
.DS_Store

# Python tooling caches
.ruff_cache/
.mypy_cache/
.pytest_cache/

# OS metadata
Thumbs.db

# Others
*.log
dist/
build/
